intake:
  description: Intake new hardware
  tasks:
  - SetupNTP
  - IpmiStart
  - AssetCreation
  - SendSystemReport
  - IpmiConfigure
  - SetBootOrder
  success:
  - Shutdown
  failure:
  - Shutdown
provision:
  description: Spin up a new machine
  tasks:
  - SetupNTP
  - ProvisionGetConfig 
  - ProvisionFormatDisk
  - ProvisionDebootstrap
burnin:
  description: Cook CPUs
  tasks: &burnin_tasks
  - TimedBurnin
util:
  description: Utility Shell
  tasks:
  - UtilReportStartup
