intake:
  description: Intake new hardware
  tasks:
  - SetupNTP
  - IpmiStart
  - AssetCreation
  - DisableCpuFreqScaling
  - SendSystemReport
  - IpmiConfigure
  - SetBootOrder
  success:
  - Shutdown
  failure:
  - Shutdown
provision:
  description: Spin up a new machine
  tasks:
  - SetupNTP
  - ProvisionGetConfig 
  - ProvisionFormatDisk
  - ProvisionDebootstrap
  - ProvisionSSHSetup
  - ProvisionNetworkSetup
  - ProvisionDNSSetup
  - ProvisionHostnameSetup
  - ProvisionKernelSetup
  - ProvisionLocaleSetup
  - ProvisionFstabSetup
  - ProvisionGrubSetup
  - ProvisionInitramfsSetup
  - ProvisionVaultSetup
  - ProvisionPuppetSetup
  - ProvisionFirstbootSetup
  success:
  - ProvisionSuccess
burnin:
  description: Cook CPUs
  tasks: &burnin_tasks
  - TimedBurnin
util:
  description: Utility Shell
  tasks:
  - UtilReportStartup
